:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #37cfa2;
  --orange-color: #ff6633;
  --section-padding: 80px 0;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

/* Nav */
nav {
  margin-top: var(--margin-top);
}

.navbar .nav-item .nav-link {
  color: var(--black-color);
  font-weight: 400;
}

.nav-link {
  display: inline-block !important;
}

.navbar .nav-item .nav-link {
  border-bottom: 2px solid var(--main-color);
}

nav .nav-link {
  text-transform: uppercase;
  font-weight: var(--font-weight);
  font-size: 18px;
}
.nav-link {
  display: inline-block;
}

/* Hero */
.defaultHero {
  background: url('./img/hero.jpg') center / cover no-repeat;
  align-items: center;
  justify-content: center;
}

/* Banner */
.banner {
  background: radial-gradient(rgba(4, 12, 32, 0.85), rgba(1, 9, 27, 1));
  color: var(--white-color);
  padding: 100px;
}

.banner h1 {
  font-size: 70px;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 20px;
}

.banner p {
  font-size: 25px;
  color: var(--white-color);
  margin-bottom: 30px;
}

.banner h1,
.banner p {
  letter-spacing: 1px;
  padding: 5px;
}

.banner p {
  line-height: 1.8;
}

.banner .btn-default {
  background-color: var(--main-color) !important;
  font-size: 14px;
}

.btn-outline-default {
  font-size: 14px;
}

h2 {
  color: var(--main-color);
  font-size: 40px !important;
  text-transform: uppercase;
}

/* About */
.about {
  padding: var(--section-padding);
}

.about .btn-default {
  margin-top: -20px;
}

/* services */
.services h2 {
  font-size: 40px;
}

.services {
  background-color: #f8f9fa;
  padding: var(--section-padding);
}

.services p {
  color: gray;
  line-height: 1.7;
}

.services-list .contents {
  margin-left: 60px;
}

/* Testimonials */
.testimonials {
  background: url('./img/blog2.png') center / cover no-repeat fixed;
}

.testimonial-banner {
  text-align: center;
  background-color: rgba(4, 12, 32, 0.9);
  padding: 80px 15px;
  color: var(--white-color);
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--main-color);
}

.slick-dots li button:before {
  font-size: 10px;
}
.slick-next:before,
.slick-prev:before {
  color: var(--main-color);
}

.slick-slide img {
  display: inline-block;
}

.slick-dots li button:before {
  color: yellow;
}

.slick-next:before,
.slick-prev:before {
  display: none;
}

/* Blog */
.blog {
  padding: var(--section-padding);
  text-align: center;
}

/* Footer */
.footer-banner ul {
  font-size: 18px !important;
  list-style-type: none;
  line-height: 2.3;
  color: var(--white-color);
}

.footer-banner li {
  margin-bottom: 1.5rem;
}

.footer-banner .footer-bg {
  background-color: rgba(4, 12, 32, 0.95);
  padding: 80px 15px 40px 15px;
}

.footer-banner h4 {
  font-weight: 500;
}

/* Banner section */
/* @media (max-width: 376px) {
  .banner .btn-default,
  .banner .btn-outline-white {
    width: 155% !important;
    float: right;
  }
} */

@media (max-width: 580px) {
  .footer-banner ul {
    margin-bottom: -40px;
  }
  .banner h1 {
    font-size: 40px;
    line-height: 1.3;
    margin-top: -25px;
    float: right;
  }
  .banner p {
    font-size: 20px;
    line-height: 1.6;
    margin-top: -15px;
    float: right;
  }
  .banner .btn-default,
  .banner .btn-outline-white {
    margin-top: -15px;
    display: block !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    float: right;
  }
  .btn-outline-white {
    margin-top: 15px !important;
  }
  .services h2 {
    margin-bottom: -50px;
  }
  .services-list h3 {
    margin-top: -10px;
  }
  .about h2 {
    margin-top: -70px !important;
  }
}

@media (max-width: 768px) {
  .footer-banner ul {
    margin-bottom: -30px;
  }
  .banner h1,
  .banner p {
    float: left;
  }
}

/* @media (max-width: 576px) {
  .about,
  .services,
  .blog {
    padding: 40px 0;
  }
  .btn-default,
  .btn-outline-white {
    display: block !important;
  }
} */

@media (max-width: 888px) {
  /* .footer-bg h4 {
    margin-top: -15px;
  } */
}

@media (max-width: 992px) {
  .banner h1 {
    font-size: 45px;
    margin-top: -35px;
  }
  .banner p {
    font-size: 20px;
    line-height: 1.6;
    margin-top: -10px;
  }
  .about h2 {
    margin-top: -10px;
  }
  .servives h3 {
    margin-top: -80px;
  }
  .blog h2 {
    margin-top: -20px;
  }
}

.copyright {
  border-top: 1px solid var(--white-color);
  background-color: rgba(4, 12, 32, 0.95);
}
