:root {
  --white-color: #fff;
  --main-color: #37cfa2;
  --orange-color: #ff6633;
}

/* Home section */
nav {
  margin-top: var(--margin-top);
}

/* Hero */
.defaultHero {
  background: url('./img/hero.png') center / cover no-repeat;
  align-items: center;
  justify-content: center;
}

.banner {
  background: rgba(4, 12, 32, 0.85);
  color: var(--white-color);
  padding: 100px;
}

.banner h1 {
  font-size: 70px;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 20px;
}

.banner p {
  font-size: 30px;
  color: var(--white-color);
  margin-bottom: 30px;
}
nav .nav-link {
  text-transform: uppercase;
  font-weight: var(--font-weight);
  font-size: 18px;
}
.nav-link {
  display: inline-block;
}

.banner h1,
.banner p {
  line-height: 1.1;
}

.banner .btn-default {
  background-color: var(--main-color) !important;
  font-size: 14px;
}

.btn-outline-default {
  font-size: 14px;
}

h2 {
  color: var(--main-color);
  font-size: 40px !important;
  text-transform: uppercase;
}

/* About */
.about {
  padding: 50px 0;
}
/* services */
.services h2 {
  font-size: 40px;
}

.services {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.services p {
  color: gray;
  line-height: 1.7;
}

.services-list .contents {
  margin-left: 60px;
}

/* Testimonials */
.testimonials {
  background: url('./img/testimonials.jpeg') center / cover no-repeat;
}

.testimonial-banner {
  text-align: center;
  background-color: rgba(4, 12, 32, 0.9);
  padding: 80px 15px;
  color: var(--white-color);
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--main-color);
}

.slick-dots li button:before {
  font-size: 10px;
}
.slick-next:before,
.slick-prev:before {
  color: var(--main-color);
}

.slick-slide img {
  display: inline-block;
}

.slick-dots li button:before {
  color: yellow;
}

.slick-next:before,
.slick-prev:before {
  display: none;
}
